body {
    background-color: black;
    display: block;
    margin: 0;
}

.content {
    color: #fafafa;
    z-index: 2;
    display: block;
    position: fixed;
    top: 0%;
}

.logo {
    fill: #7e3f3f4d;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: top, left, bottom;
    top: 0%;
    left: 0%;
    transform: translate(-50%,-50%);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.logoSVG {
    -webkit-text-fill-color: white;
}

.background {
    z-index: 0;
    position: fixed;
}

.nav {
    display: block;
    position: fixed;
    background-color: white;
    user-select: none;
}

.left {
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%) rotate(-90deg);
}

.right {
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%) rotate(90deg);
}

.up {
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%) rotate(0);
}

.down {
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%) rotate(180deg);
}

#CREST {
    fill: #60503257;
    transform-origin: center;
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

